.d-flex{
    display: flex;
}
p{
  text-align: justify;
}
.full-width{
    width: 100%;
}
.text-center{
    text-align: center;
}
.top-option{
    width: 100%;
    height: 30px;
    justify-content: space-between;
    font-size: 23px;
    position: fixed;
    background-color: white;
    z-index: 10;
}
.top-heading{
    width: 70%;
}
.main-element{
    width: 100%;
    padding-top: 100px;
}
.main-content{
    width: 80%;
    padding-left: 13%;
}
.main-top{
    width: 90%;
}
.main-top-text{
    width: 80%;
}
.img-top{
    width: 100%;
    height: 500px;
}
.top-font{
    font-size: 35px;
    margin-bottom: 2rem;
}
.body-content{
    width: 70%;
    margin: 2rem;
}
.body-element{
    width: 80%;
}
.p-rel{
    position: relative;
}
.d-flex-col{
    flex-direction: column;
}
.dennis{
    margin-bottom: 1rem;
}
.author-date{
    width: 60%;
}
.author-icons{
    width: 30%;
}
.d-just-sp-ar{
    justify-content: space-between;
}
strong{
    font-weight: bold;
}
.side-text{
    width: 60%;
}
.side{
    width: 30%;
    margin: -49rem 0 0 39rem;
}
.sec-aside{
    margin-top: 14rem;
}
.p-abs{
  position: absolute;
}
.aside-content{
    width: 85%;
}
.aside-img{
    width: 35%;
    height: 8%;
}
.aside-img-text{
    width: 55%;
}
.button-blue {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 8px;
}
.button-blue:hover {
    background-color: #008CBA;
    color: white;
    border-radius: 8px;
}
.mid-img-text{
    width: 22%;
    font-size: 10px;
}
.img-div{
    width: 100%;
}
.img-div-div{
    width:22%; 
}
.img-div-first{
    margin-top:-24rem;
}
.img-div-second{
    margin-top:-8rem;
}
.video-content{
    width: 100%;
    height: 350px;
}
small{
    font-size: 12px;
}
.p-rem{
    margin-top: 1.5rem;
}
.button-down{
    width:65%;
}
.modify-with{
    width:25%;
}
.icon-down{
    width:35%;
}
.top-border-line{
    text-align: center;
    border: 2px solid black;
}
.all-center{
    margin-right: auto;
    margin-left: auto;
}